.App {
  margin: auto;
  max-width: 1024px;
  border: 1px solid black;
  background-color: rgb(215, 215, 215);
}

.create-btn{
  background-color: rgb(242, 150, 72);
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px grey;
  align-self: center;
  margin-right: 20px;
}

.create-btn:hover{
  box-shadow: none;
}

.heading-container{
  display: flex;
  justify-content: space-between;
}

.btn-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.btn-container button{
  margin-right: 20px;
  margin-left: 20px;
}